body{
  font-family: helvetica;
  text-align: center;
}

.building{
  background-image: url("../images/the-flatiron-building.png");
  background-size: auto 100%;
  width: auto;
  height: auto;
}

h1, h4, .link{
  color: white;
}

h1, h2, h3{
  font-weight: bold;
}

h4, h5{
  font-weight: normal;
}

h1{
  font-size: 70px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

h4{
  font-size: 18px;
}

h5{
  font-size: 14px;
}

.identify{
  background-image: url("../images/identify.svg");
  display: block;
  margin: auto;
  background-size: auto 100%;
  width: 64px;
  height: 35px;
}
